*{
    margin: 0;
    padding: 0;
}

.Analog{
    height: 100vh;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Clock{
    position: relative;
    background-color: gainsboro;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 5px solid darkgray;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
    font-family: fantasy;
    font-size: 30px;
}

.twelve{
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translateX(-50%);
}

.three{
    position: absolute;
    right: 4%;
    top: 50%;
    transform: translateY(-50%);
}

.six{
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);
}

.nine{
    position: absolute;
    left: 4%;
    top: 50%;
    transform: translateY(-50%);
}

.Arrows{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.Arrows::before{
    content: "";
    height: 25px;
    width: 25px;
    background-color: darkcyan;
    border-radius: 50%;
    z-index: 4;
}

.Arrows div{
    background-color: aliceblue;
    height: 90px;
    width: 8px;
    position: absolute;
    transform-origin: bottom center;  
    /* it also works without transform-origin  */
    bottom: 50%;
    z-index: 3;
    border-radius: 50% 50% 0 0;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);;
}

.Arrows .hour{
    height: 50px;
    transform: rotate(30deg);
    background-color: blue;
}

.Arrows .second{
    height: 110px;
    transform: rotate(250deg);
    background-color: brown;
}

